* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height:100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  background: #00003f;
  display: flex;
  justify-content: center;
  
}

main {
  width: 60vw;
  height: 60vw;
  background: #666;
  bottom: -50%;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}

nav button {
  padding: 5px 8px;
}

